<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianshaokai.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
<!--        <activity android:name=".MainActivity" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity android:name=".canvasdemo.handwritting.DoodleActivity" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <activity android:name=".WidgetListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".canvasdemo.CanvasActivity" />
        <activity android:name=".canvasdemo.customviewdemo.PolylineViewActivity" />
        <activity android:name=".canvasdemo.customviewdemo.EraserViewActivity" />
        <activity android:name=".canvasdemo.WaveViewActivity" />
        <activity android:name=".canvasdemo.pagecurl.activities.PageCurlActivity" />
        <activity android:name=".canvasdemo.largeImage.LargeImageViewActivity" />
        <activity android:name=".canvasdemo.handwritting.DoodleActivity" />

        <activity android:name=".ui.MainRecyclerViewActivity" />
        <activity android:name=".ui.MiUiVideoActivity" />
        <activity android:name=".ui.SwitchBarActivity" />
        <activity android:name=".ui.GranzortActivity" />
        <activity android:name=".ui.PendulumActivity" />
        <activity android:name=".ui.Loading1ViewActivity" />
        <activity android:name=".ui.Loading2ViewActivity" />
        <activity android:name=".draw.BigViewActivity" />
        <activity android:name=".ui.FlowActivity" />
        <activity android:name=".ui.rotate.RotateActivity" />
    </application>

</manifest>